{% extends 'base2.html'%}
{%block page%}
Hello
<div class="col-12" >
    <div class="row">
    <a class="btn btn-primary" style="width: 420px; margin:2cm" href="menu_mgmt">
    <div class="card">
      <div class="card-body">
        <h2>Manage Menu</h2>
      </div></div></a><br><a class="btn btn-primary" style="width: 420px; margin:2cm" href="staff">
        
      <div class="card">
      <div class="card-body">
       <h2> Manage Staff</h2></div></div></a>
       <br>
       <a class="btn btn-primary" style="width: 420px; margin:2cm" href="pos">
        <div class="card">
        <div class="card-body">
         <h2> POS </h2></div></div></a>
         <br>
         <a class="btn btn-primary" style="width: 420px; margin:2cm" href="inventory">
            <div class="card">
            <div class="card-body">
             <h2> Manage Inventory</h2></div></div></a>
             <br>
        <a class="btn btn-primary" style="width: 420px; margin:2cm" href="">
                <div class="card">
                <div class="card-body">
                 <h2> Orders and Reports</h2></div></div></a>
                
                 <a class="btn btn-primary" style="width: 420px; margin:2cm" href="customer_det">
                    <div class="card">
                    <div class="card-body">
                     <h2> Customer</h2></div></div></a></div>
{%endblock page%}